* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .about-section {
    display: flex;
    height: 100vh; /* Full height */
  }
  
  .text-container {
    flex: 2.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    color: white; /* Change to your desired text color */
  }
  
  .image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%; /* Ensure image fits within container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Optional: Add border radius to image */
  }
  